<div class="home-page-menu w-100">
    <!--<div class="container">-->
    <!--<div class="row">-->
    <nav class="navbar navbar-expand-md w-100">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/ymner_black_RGB.png">
            </a>
            <button class="navbar-toggler mt-auto pb-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar">
                <span class="me-2 text-dark">Menu</span>
                <i class="fa fa-align-justify text-dark"></i>
            </button>
            <div class="collapse navbar-collapse mt-lg-4 mt-md-3 ms-2" id="collapsibleNavbar">
                <ul class="navbar-nav align-items-end align-items-md-start">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funded projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto align-items-md-center align-items-end">
                    <li class="nav-item dropdown pe-2">
                        <a class="nav-link dropdown-toggle text-end" href="#" role="button"
                            data-bs-toggle="dropdown">Insights</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-user"></i>
                                    <span>Grants overview</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-user"></i>
                                    <span>Grants overview (Bar chart)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-product-hunt"></i>
                                    <span>Projects overview</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i aria-hidden="true"
                                        class="fa fa-product-hunt"></i><span>Projects overview (Bar chart)</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i aria-hidden="true"
                                        class="fa fa-university"></i><span>Area search</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pe-2">
                        <a class="nav-link dropdown-toggle text-end" href="#" role="button"
                            data-bs-toggle="dropdown">Administration</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-user"></i>
                                    <span>User management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-user"></i>
                                    <span>Trigger send email</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-product-hunt"></i>
                                    <span>Project management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-university"></i>
                                    <span>Publisher management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-history"></i>
                                    <span>Crawl history</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-flag"></i>
                                    <span>Area management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-list-alt"></i>
                                    <span>Category management</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>Import a new category file</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>Import quiz</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-eye"></i>
                                    <span>Statistic</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-eye"></i>
                                    <span>User tracker</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-tachometer"></i>
                                    <span>Metrics</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-heart"></i>
                                    <span>Health</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-list"></i>
                                    <span>Configuration</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-bell"></i>
                                    <span>Audits</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-tasks"></i>
                                    <span>Logs</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i aria-hidden="true" class="fa fa-fw fa-book"></i>
                                    <span>API</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="dropdown-toggle ms-auto btn button-signup" href="#" role="button"
                            data-bs-toggle="dropdown">
                            <i class="fa fa-user me-2"></i>
                            <span>Profile</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"><span>Settings</span></a></li>
                            <li><a class="dropdown-item" href="#"><span>Sign out</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--</div>-->
    <!--</div>-->
</div>

<div class="about-us-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mt-5 about-us-title">Make ideas grow.</h4>
            </div>
            <div class="col-12">
                <p class="mt-3 mb-0 about-us-content">
                    We simplify innovation and research funding. For entrepreneurs, researchers and idea makers. For
                    public financiers, investors, foundations and funds. Ymner is for everyone.
                </p>
            </div>
            <div class="col-12">
                <p class="mt-3 mb-0 about-us-content">For fund seekers, we showcase available funding opportunities for
                    everything from early ideas to industrial research and innovation. For financiers, we gather data
                    that maps out the support system and enables data-driven funding decisions.</p>
            </div>
            <div class="col-12">
                <p class="mt-3 mb-0 about-us-content">Our vision with Ymner is to make it possible for all to contribute
                    to groundbreaking innovation and research.</p>
            </div>
        </div>
        <div class="row about-us-main">
            <div class="col-12 mb-5">
                <h3>Team</h3>
            </div>
            <div class="col-12 mb-3">
                <div class="oscar">
                    <div class="avatar">
                        <img src="assets/img/oscar.png">
                    </div>
                    <div class="info justify-content-center d-flex flex-column">
                        <h4 class="mb-3">Oscar P. Ridell, Ph.D.</h4>
                        <a href="https://www.linkedin.com/in/oscarperssonridell" target="_blank">
                            <div class="linkedin" style="background-image: url('assets/img/linkedin.png');"></div>
                        </a>
                        <p class="mt-4">I have seen how unapproachable and complex the support system for innovation and
                            research can be. I have also seen the vast untapped potential it holds. That is why I
                            started Ymner. With Ymner I have set out to lower the barriers for fund seekers to find
                            suitable funding and to map out the funding landscape to give financiers "bigger bang for
                            the buck". I am convinced that this is how we create a vibrant and efficient support system
                            over time.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="hermes">
                    <div class="info justify-content-center d-flex flex-column">
                        <h4 class="mb-3">Hermes Holm</h4>
                        <a href="https://www.linkedin.com/in/hermes-holm-651b491a3" target="_blank">
                            <div class="linkedin" style="background-image: url('assets/img/linkedin.png');"></div>
                        </a>
                        <p class="mt-4">As a Creative Director at agencies like Edelman and Weber Shandwick the support
                            system for innovation and research has always been appealing to me. Through Ymner I have
                            come to understand the system up close and over time, allowing ideas to emerge that you can
                            now see in Ymner. One thing I have come to strongly believe is that finding new synergies
                            between private and public funding is pivotal to securing a strong innovation and research
                            climate for the future.</p>
                    </div>
                    <div class="avatar">
                        <img src="assets/img/hermes.png" class="float-end">
                    </div>
                </div>
            </div>
            <div class="col-12 advisor">
                <h3>Advisors</h3>
            </div>
            <div class="col-12">
                <div class="patricia">
                    <div class="avatar">
                        <img src="assets/img/patricia.png">
                    </div>
                    <div class="info justify-content-center d-flex flex-column">
                        <h4 class="mb-3">Patricia G.Alfageme</h4>
                        <a href="https://www.linkedin.com/in/patriciagarciaalfageme" target="_blank">
                            <div class="linkedin" style="background-image: url('assets/img/linkedin.png');"></div>
                        </a>
                        <p class="mt-4">With my experience as a product manager in tech, I support the team in the
                            development of the Ymner platform always with the user experience as a priority.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="infor pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">Find funding</a></li>
                        <li class="item"><a class="link-item">Ask Ymner</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">About Ymner</a></li>
                        <li class="item"><a class="link-item" data-bs-toggle="modal" data-bs-target="#terms">
                                About Cookies & GDPR</a></li>
                        <li class="item"><span class="contact-item">Contact</span></li>
                        <li class="item"><a class="link-item">hello@ymner.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12 my-2 language pb-md-0 pb-sm-2">
                    <div class="dropdown dropup">
                        <p class="dropdown-toggle" data-bs-toggle="dropdown">
                            <img alt src="assets/img/england_flag.png">
                            <span class="language-current">English</span>
                        </p>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><span>English</span></a></li>
                            <li><a class="dropdown-item" href="#"><span>Svenska</span></a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-10 col-sm-12 text-md-right text-sm-left my-2">
                    <p class="d-md-inline d-sm-block my-0">© COPYRIGHT THE YMNER SOCIETY AB 2020. </p>
                    <p class="d-md-inline d-sm-block mt-0">ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="terms">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mb-0">TERMS &amp; CONDITIONS</h4>
                <span class="btn-close me-0" data-bs-dismiss="modal"></span>
            </div>
            <div class="modal-body">
                <h5>OVERVIEW</h5>
                <p>
                    This website is operated by The Ymner Society AB. Throughout the site, the terms “we”, “us” and
                    “our”
                    refer to The Ymner Society AB. The Ymner Society AB offers this website, including all information,
                    tools and services available from this site to you, the user, conditioned upon your acceptance of
                    all terms, conditions, policies and notices stated here.
                </p>
                <p>
                    By visiting our site you engage in our “Service” and agree to be bound by the following terms and
                    conditions (“Terms & Conditions”, “Terms”), including those additional terms and conditions and
                    policies referenced herein and/or available by hyperlink. These Terms & Conditions apply to all
                    users of the site, including without limitation users who are browsers, vendors, customers,
                    merchants, and/ or contributors of content.
                </p>
                <p>
                    Please read these Terms & Conditions carefully before accessing or using our website. By accessing
                    or
                    using any part of the site, you agree to be bound by these Terms & Conditions. If you do not agree
                    to all the terms and conditions of this agreement, then you may not access the website or use any
                    services. If these Terms & Conditions are considered an offer, acceptance is expressly limited to
                    these Terms & Conditions.
                </p>
                <p>
                    Any new features or tools that are added to the current site shall also be subject to the Terms &
                    Conditions. You can review the most current version of the Terms & Conditions at any time on this
                    page. We reserve the right to update, change or replace any part of these Terms & Conditions by
                    posting updates and/or changes to our website. It is your responsibility to check this page
                    periodically for changes. Your continued use of or access to the website following the posting of
                    any changes constitutes acceptance of those changes.
                </p>
                <h5>SECTION 1 - GENERAL CONDITIONS</h5>
                <p>
                    A breach or violation of any of the Terms will result in an immediate termination of your Services.
                </p>
                <p>We reserve the right to refuse service to anyone for any reason at any time.</p>
                <p>
                    You understand that your content may be transferred unencrypted and involve (a) transmissions over
                    various networks; and (b) changes to conform and adapt to technical requirements of connecting
                    networks or devices.
                </p>
                <p>
                    You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use
                    of the Service, or access to the Service or any contact on the website through which the service is
                    provided, without express written permission by us.
                </p>
                <p>
                    The headings used in this agreement are included for convenience only and will not limit or
                    otherwise
                    affect these Terms.
                </p>
            </div>
        </div>
    </div>
</div>