* {
    box-sizing: inherit;
}

img {
    vertical-align: middle;
}

.home-page-menu {
    z-index: 99;
    position: absolute;
    padding-bottom: 15px;
    right: 0;
    left: 0;
    height: 500px;

    .navbar-brand {
        width: 120px;
        height: 36px;
        font-family: CentraNo1-book-italic;
        font-size: 40px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        text-transform: uppercase;
        margin-right: 35px;

        display: inline-block;


        img {
            height: 24px;
            width: 155px;
            margin-bottom: 10px;
        }
    }

    .dropdown-menu {
        max-height: 300px;
        overflow: auto;

        .dropdown-item {
            color: black;
            padding-top: 8px;
            padding-bottom: 8px;

            i {
                margin-right: 10px;
            }
        }
    }

    .nav-link:hover {
        color: white;
    }

    .nav-link:focus {
        color: white;
    }

    .dropdown-toggle:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.3em;
        vertical-align: middle;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
    }

    .button-signup {
        width: 143px;
        height: 45px;
        border-radius: 30px;
        cursor: pointer;
        background-color: #fff;
        color: #a78730;
        text-transform: none;
        font-size: 16px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: .48px;
        text-align: center;

        display: block;
    }
}

.btn:focus,
button:focus {
    box-shadow: none;
}

.infor {
    background-color: #292a2b;
}

a {
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

.link-item {
    font-family: CentraNo1-book;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .1px;
    color: #cbcbc9;
    text-decoration: none;
}

.contact-item {
    color: hsla(0, 0%, 100%, .35);
    font-size: 12px;
}

.item {
    padding-bottom: 15px;
}

.link-item:hover {
    color: white;
}

.copyright {
    background-color: #0b0b0b;

    p {
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        font-weight: 300;
        color: hsla(0, 0%, 100%, .35);
        letter-spacing: 1.2px;
    }
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
}

@media (min-width: 768px) {
    .text-md-right {
        text-align: right !important;
    }
}

.language {
    position: relative;

    p {
        cursor: pointer;
    }

    img {
        position: absolute;
        vertical-align: middle;
        width: 24px;
        height: 24px;
    }

    .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;

        span {
            color: black;
        }
    }

    .language-current {
        position: absolute;
        margin-left: 30px;
        top: 2px;
        font-weight: 700;
        color: hsla(0, 0%, 100%, .35);
        letter-spacing: 1.2px;
    }

}

b,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
small,
span:not(.fa) {
    font-family: CentraNo1-book !important;
}

.home-body {
    .vision-container {
        line-height: 1.75rem;
        margin-bottom: 5rem;

        .text-header-find-financing,
        .text-header {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 1.15rem;
            font-family: CentraNo1-medium !important;
        }

        .text-header {
            opacity: .5;
        }

        .text-body {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            padding-right: 5rem;
            opacity: .7;
            min-height: 12rem;
        }

        .text-footer {
            margin-bottom: 2rem;

            span {
                opacity: .8;
                color: #000;
                font-weight: 500;
                font-size: 1rem;
                font-family: CentraNo1-medium !important;
            }
        }

        .button-show {
            background-color: #a28840;
            color: #fff;
            border-radius: 1.375rem;
            padding: 0.75rem 4rem;
            font-size: .875rem;
            opacity: 1;
        }
    }
}

.vision {
    line-height: 1.75rem;
    opacity: .8;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .vision-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.125rem;
    }

    .vision-description {
        font-size: 1.0625rem;
    }
}

.vision-box-left {
    width: 100%;
    background-color: #f2f7ff;
    padding: 2rem;
    margin-bottom: 1rem;
    min-height: 27rem;
}

.vision-box-right {
    width: 100%;
    background-color: #ffffe0;
    padding: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    min-height: 27rem;
}


.background-image {
    background-color: #95d7db;
}

.header {
    height: 660px;

    .header-content {
        display: flex;
        //display: -ms-flexbox;
        justify-content: center;
        align-items: center;
        height: 660px;
        overflow: hidden;

        video {
            height: 660px;
            flex: 1;
            width: auto;
            -o-object-fit: fill;
            object-fit: fill;
        }

        .your-funding {
            position: absolute;

            .heading {
                height: 83px;
                font-family: CentraNo1;
                font-size: 3.75rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -.5px;
                color: #fff;
            }

            .content {
                height: 22px;
                font-family: CentraNo1-book;
                font-size: 1.25rem;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -.2px;
                color: #fff;
                padding: 0 5px !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header-content .your-funding {

        .heading {
            font-size: 48px !important;
        }

        .content {
            padding: 0 3px !important;
        }
    }

    .home-page-menu .navbar-brand {
        width: 100px !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .header {
        padding-top: 0;

        .header-content .your-funding {

            .heading {
                font-size: 55px;
                word-break: break-word;
                white-space: normal;
                height: auto;
                line-height: 1;
            }

            .content {
                font-size: 18px;
                text-shadow: 0 1px 3px rgb(0 0 0 / 16%);
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                padding: 0 3px !important;
            }
        }
    }

    .navbar-brand img {
        width: 100px !important;
        height: 20px !important;
        margin-bottom: 15px !important;
    }
}

@media (max-width: 768px) {
    .home-page-menu .nav-item {
        margin-top: 15px;
    }
}

@media (min-width: 576px) {
    .your-funding .container {
        width: 540px;
        max-width: 100%;
    }

    .your-funding .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .your-funding .container {
        width: 720px;
        max-width: 100%;
    }

    .your-funding .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .your-funding .container {
        width: 960px;
        max-width: 100%;
    }

    .your-funding .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .your-funding .container {
        width: 1140px;
        max-width: 100%;
    }

    .your-funding .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    .your-funding .container {
        width: 1260px !important;
    }
}

.modal-header {
    .close {
        color: #a78730;
    }
}

.modal-body {
    padding: 0px 30px 10px;
    .sign-in-title {
        font-weight: 400;
        font-size: 22px;
        font-family: CentraNo1-book !important;
    }
}