<div class="home-page-menu w-100">
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="#">YMNER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggle-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funded projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Insights</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Grants overview</a></li>
                            <li><a class="dropdown-item" href="#">Grants overview (Bar chart)</a></li>
                            <li><a class="dropdown-item" href="#">Projects overview</a></li>
                            <li><a class="dropdown-item" href="#">Projects overview (Bar chart)</a></li>
                            <li><a class="dropdown-item" href="#">Area search</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Administration</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">User management</a></li>
                            <li><a class="dropdown-item" href="#">Trigger send email</a></li>
                            <li><a class="dropdown-item" href="#">Project management</a></li>
                            <li><a class="dropdown-item" href="#">Publisher management</a></li>
                            <li><a class="dropdown-item" href="#">Crawl history</a></li>
                            <li><a class="dropdown-item" href="#">Area management</a></li>
                            <li><a class="dropdown-item" href="#">Category management</a></li>
                            <li><a class="dropdown-item" href="#">Import a new category file</a></li>
                            <li><a class="dropdown-item" href="#">Import quiz</a></li>
                            <li><a class="dropdown-item" href="#">Statistic</a></li>
                            <li><a class="dropdown-item" href="#">User tracker</a></li>
                            <li><a class="dropdown-item" href="#">Metrics</a></li>
                            <li><a class="dropdown-item" href="#">Health</a></li>
                            <li><a class="dropdown-item" href="#">Configuration</a></li>
                            <li><a class="dropdown-item" href="#">Audits</a></li>
                            <li><a class="dropdown-item" href="#">Logs</a></li>
                            <li><a class="dropdown-item" href="#">API</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Profile</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="header background-image">
    <div class="header-content">
        <video loop autoplay playsinline>
            <source src="assets/img/Desktop_2500x1080_Offset_v3.mp4">
        </video>
        <div class="your-funding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1 col-md-12 offset-md-0">
                        <h1 class="heading">Makes ideas grow</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-1 col-md-12 offset-md-0">
                        <p class="content">Services for funding of Innovation & Research</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container home-body">
    <div class="vision">
        <div class="vision-title">Our vision</div>
        <div class="vision-description">Ymner was created with the vision that more individuals, organizations,
            companies and financiers should be able to contribute to groundbreaking innovation and research. Based on
            this vision, this platform for innovation and research funding was created with services both for those
            seeking funding and for those who fund research and innovation.</div>
    </div>
    <div class="row vision-container">
        <div class="col-md-6">
            <div class="vision-box-left">
                <div class="text-header">Available funding</div>
                <div class="text-body">
                    <p>Ymner contains information about public grants, foundations and funds, investors, accelerators
                        and incubators, etc. As a fund seeker you can access the latest opportunities for both public
                        and private funding.</p>
                    <p>Create a user account to receive a weekly update with the latest grants that suit your interests.
                    </p>
                </div>
                <div class="text-footer">
                    <strong>437 grants available right now.</strong>
                </div>
                <div class="w-100 text-center mb-2">
                    <button class="btn button-show">Show</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vision-box-right">
                <div class="text-header">Funding insights</div>
                <div class="text-body">
                    <p>Ymner contains data that enables comparative analyzes between different research fields and areas
                        of interest. Financiers are given access insights that visualizes the Swedish support system for
                        innovation and research.</p>
                    <p>Ymner enables public and private financiers to become datadriven in their support of innovation
                        and research.</p>
                </div>
                <div class="text-footer">
                    <strong>17.1 billion SEK in funding over the past year.</strong>
                </div>
                <div class="w-100 text-center mb-2">
                    <button class="btn button-show">Show</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="infor pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">Find funding</a></li>
                        <li class="item"><a class="link-item">Ask Ymner</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">About Ymner</a></li>
                        <li class="item"><a class="link-item">About Cookies & GDPR</a></li>
                        <li class="item"><span class="contact-item">Contact</span></li>
                        <li class="item"><a class="link-item">hello@ymner.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12 my-2 language pb-md-0 pb-sm-2">
                    <p class="">
                        <img alt src="assets/img/england_flag.png">
                        <span>English</span>
                    </p>
                </div>
                <div class="col-md-10 col-sm-12 text-md-right text-sm-left my-2">
                    <p class="d-md-inline d-sm-block my-0">© COPYRIGHT THE YMNER SOCIETY AB 2020. </p>
                    <p class="d-md-inline d-sm-block mt-0">ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </div>
</div>