<p class="h1">home-page works!</p>
<div class="footer">
    <div class="infor pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">Find funding</a></li>
                        <li class="item"><a class="link-item">Ask Ymner</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <ul class="list-item">
                        <li class="item"><a class="link-item">About Ymner</a></li>
                        <li class="item"><a class="link-item">About Cookies & GDPR</a></li>
                        <li class="item"><span class="contact-item">Contact</span></li>
                        <li class="item"><a class="link-item">hello@ymner.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">English</div>
                <div class="col-md-10 col-sm-12 text-start-sm text-end">
                    <div class="d-md-inline d-sm-block">© COPYRIGHT THE YMNER SOCIETY AB 2020. </div>
                    <div class="d-md-inline d-sm-block">ALL RIGHTS RESERVED.</div>
                </div>
            </div>
        </div>
    </div>
</div>